:root {
  --color-grey: #404040;
  --color-red: #dd628b;
  --color-dark: #555555;
  --color-white: #fff;
  --color-grey-white: #a8b2d1;
  --color-grey-dark: #7a839c;
  --color-green: #3fb9b4;
  --color-green-light: #3fb9b542;
  --color-text: #ddd;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* letter-spacing: 1.5px; */
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-grey-white);

  font-family: "Roboto Slab", Arial, serif;
}
.home-page {
  position: relative;
}

/* home-page */
.header {
  background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
  position: relative;
}
/* .sub-header {
  width: 100%;
  height: 100vh;
  background: rgba(238, 238, 238, 0.263);
} */

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 999999;
  transition: all 0.3s ease;
}
.nav.nav-sticky {
  box-shadow: 0.1rem 0.15rem 0.2rem rgba(255, 255, 255, 0.04);
  padding: 1.5rem 2rem;
  background-color: var(--color-grey);
}
/* logo */

.nav-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.8rem;
  text-decoration: none;
  transition: all 0.2s;
  z-index: 999999;
}
.nav-logo a:hover {
  transform: translate(2px, -3px) scale(1);
}
.nav-logo a:active {
  transform: translate(2px, 3px);
}
.nav-logo .log {
  width: 3.3rem;
  height: 3.3rem;
}
.nav-logo h3 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-red)
  );
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 2.4rem;
  /* font-weight: 700; */
  /* transform:rotate(0deg) ; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-transform: uppercase;
  transition: all 0.3s;
  /* navbar link */
}
/* Navbar menu icons*/

.hamburger-wrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 5px 0 var(--color-green), 0 0 10px var(--color-green),
    0 0 20px var(--color-green), 0 0 40px var(--color-green);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  display: none;
  z-index: 999999;
}
.hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* background-color: var(--color-green); */
  margin: auto;
  display: flex;
  border-radius: 50%;
  align-items: center;
  transform: rotate(0);
  transition: 1s;
}
.hamburger-wrapper.active .hamburger-icon {
  transform: rotate(315deg);
  border-radius: 50%;
}
.hamburger-icon span {
  position: absolute;
  display: block;

  height: 0.6rem;
  background: linear-gradient(45deg, var(--color-green), #000);
  border: 2px solid var(--color-green);
  border-radius: 3rem;
  box-shadow: 0 0 5px var(--color-green), 0 0 5px var(--color-green);
  transition: 0.3s;
  transition-delay: 1s;
}
.hamburger-icon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 50%;
  transform: translateY(0);
  /* border-radius: 50%; */
}
.hamburger-wrapper.active span:nth-child(1) {
  width: 100%;
  transform: translateY(11px);
  transition-delay: 0s;
  /* border-radius: 50%; */
}
.hamburger-icon span:nth-child(2) {
  width: 100%;
  transform: scaleX(1);
  opacity: 1;
  /* border-radius: 50%; */
}
.hamburger-wrapper.active span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
  transition-delay: 0s;
  border-radius: 50%;
}
.hamburger-icon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 50%;
  transform: rotate(0);
  /* border-radius: 50%; */
}
.hamburger-wrapper.active span:nth-child(3) {
  width: 100%;
  bottom: 13px;
  transform: rotate(90deg);
  transition-delay: 0s;
  /* border-radius: 50%; */
}

/*end of menu icon css style*/
.nav-links {
  list-style-type: none;
  color: var(--color-green);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* background-color: #3fb9b4; */
}
.nav-link span {
  color: var(--color-green);

  font-size: 1.4rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-white);

  position: relative;
  transition: all 0.4s ease-in 0s;
}
.nav-link:link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -5px 0;
  left: 0;

  background-color: var(--color-green);
  transition: all 0.4s ease-in 0s;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: var(--color-green);
}
.center {
  text-align: center;
}
.marginTop-sm {
  margin-top: 1.5rem;
}
.btn {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid var(--color-green);
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.lg-btn {
  padding: 2.4rem 3.2rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0rem 0.3rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-login {
  color: var(--color-green);
  transition: all 0.2s;
  text-align: center;
}
.btn-green {
  background-color: var(--color-green);
  color: var(--color-white);
}
.btn-left {
  text-align: left;
}
.btn-login:hover {
  background-color: var(--color-green-light);
}

/* icons link style */
.icons-links .ul-links {
  padding: 0;
  list-style-type: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 0;
  left: 2%;
}
.footer_icons-links .footer_ul-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.ul-links li a,
.footer_ul-links li a {
  text-decoration: none;
  color: var(--color-grey-dark);
}
.ul-links li a svg {
  transition: all 0.2s;
}
.icons a svg {
  transition: all 0.3s;
}
.icons a svg:hover {
  color: var(--color-green);
  transform: translate(3px, -3px);
}
.icons-links .ul-links::after,
.email-link::after {
  content: "";
  width: 2px;
  display: block;
  margin: 0 auto;
  height: 9rem;
  background-color: var(--color-grey-dark);
  bottom: 0;
}
.email-link {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  right: 2%;
  -webkit-box-align: center;
}
.email-link .email {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-grey-dark);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
  transition: all 0.2s;
}
.ul-links li a svg:hover,
.email:hover {
  color: var(--color-green);
  transform: translateY(-3px);
}
/* content */

.content-container {
  display: flex;

  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
}
.content {
  background-color: #404040cc;
  transform: skewX(12deg);
  padding: 2rem;

  outline-offset: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px;
  overflow: hidden;
  position: relative;

  perspective: 150rem;
  -moz-perspective: 150rem;
  transition: all 0.3s;
  box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.326);
}
.content:hover {
  background-color: var(--color-grey);
  transform: skew(0deg);
  outline: 0.5rem solid var(--color-red);
  box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.332);
}
.content:hover .content-text {
  transform: skew(0deg);
}
.content-text {
  display: inline-block;
  text-align: center;

  transform: skewX(-12deg);
}
.content {
  width: 35%;
}
.salutation {
  color: var(--color-green);
  /* text-align: center; */
  font-size: 1.8rem;
  display: block;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.content .names {
  font-size: clamp(2rem, 4vw, 4rem);
  /* text-align: center; */
  font-weight: 600;
  /* display: block; */

  line-height: 1.1;
  text-transform: capitalize;
  color: var(--color-white);
}
.content .whoIam {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.45;
  color: var(--color-text);
}
.image-container {
  width: 45%;
}
.image-container {
  /* background-color: green; */
  align-self: center;
}
.image-position {
  position: relative;

  /* background-color: #dd628b; */
}
.image {
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 1px var(--color-white);

  transform: scale(0.7) translate(2px, -4px) rotate(-9deg);
  border-radius: 50%;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.image:hover {
  outline: 0.5rem solid var(--color-red);
  box-shadow: 1px 1px 5px var(--color-white);
  /* box-shadow: 1px 1px 5px #dd628b; */
  z-index: 120;
  transform: scale(0.71) translate(-2px, -5px) rotate(24deg);
}

.about-container,
.skillz-container {
  padding: 14rem 0;
  min-height: 100vh;
  background: var(--color-grey);
}
.row {
  max-width: 100rem;

  margin: 0 auto;
}
.title,
.text-left {
  font-size: 4.2rem;
  margin-bottom: 3rem;
  color: var(--color-text);
  letter-spacing: 2px;
}
.title span,
.text-left span {
  color: var(--color-green);
}
.title-container {
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-white),
    var(--color-red)
  );
}
.title::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -13%;
  left: 0;
  width: 5%;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-white),
    var(--color-red)
  );
}
.about-content {
  display: flex;
  /* gap: 3rem; */
  align-items: center;
  justify-content: space-between;
}
.about-image {
  /* width: 25rem; */
  padding: 2.5rem;
  /* background-color: red; */
  position: relative;
  transition: all 0.3s;
}

.about-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;

  height: 100px;
  width: 100px;
  border-top: 1rem solid var(--color-green);
  border-left: 1rem solid var(--color-green);
}
.about-image::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  height: 100px;
  width: 100px;
  /* box-shadow: 15px 10px 5px #000; */
  border-right: 1rem solid var(--color-green);
  border-bottom: 1rem solid var(--color-green);
}
.about-image img {
  /* display: block; */
  width: 25rem;
  /* height: 35rem; */
  z-index: 1;
  background: #555555;
  transition: all 0.3s;
}
.about-image:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  height: 100%;
  width: 100%;
  /* box-shadow: 15px 10px 5px #000; */
  border-right: 1rem solid var(--color-green);
  border-bottom: 1rem solid var(--color-green);
}
.about-image:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  height: 100%;
  width: 100%;
  /* box-shadow: 15px 10px 5px #000; */
  border-top: 1rem solid var(--color-green);
  border-left: 1rem solid var(--color-green);
}
.paragraph-text p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.skills-about {
  display: flex;
  /* flex-wrap: wrap; */
}
.skills-about ul {
  font-size: 1.6rem;
  color: var(--color-green);
  padding-inline-start: 40px;
}
.portfolio-container,
.contact-container {
  padding: 9rem 0;
  background-color: var(--color-dark);
}
.text-left {
  text-align: right;
}

.img-port {
  width: 100%;

  /* height: 35rem; */
  object-fit: cover;
}
.im-overlay {
  position: relative;
  width: 60%;
}
.im-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* color: red; */
  width: 100%;
  height: 100%;
  /* z-index: 15; */
  background-color: #3fb9b5a4;
}
.portfolio {
  padding: 6rem 0;
}
.project-img {
  position: relative;
}
.project-img .proj-exp {
  background-color: var(--color-grey);
  padding: 1.5rem;
  color: var(--color-text);
  font-size: 1.6rem;
  position: absolute;
  top: 25%;
  left: 30%;
}

.img-right-side .img-port {
  width: 60%;
  /* position: relative; */
}
.project-img .title-port {
  position: absolute;
  top: 3%;
  right: 0;
}
.title-port h3 {
  font-size: 2.2rem;
  color: var(--color-white);
}
.project-img .title-port p {
  color: var(--color-green);
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  text-align: right;
  letter-spacing: 1px;
  font-weight: 500;
}
.project-img .skills-work {
  position: absolute;
  bottom: 12%;
  right: 0;
}

.skills-work ul {
  display: flex;
  list-style-type: none;
  font-size: 1.6rem;
  color: var(--color-text);
  gap: 0.8rem;
}
.project-img .icons {
  display: flex;
  align-items: end;
  gap: 2rem;
  position: absolute;
  bottom: 0%;
  right: 0;
}

.icons a {
  color: var(--color-text);
}
.portfolio-two {
  position: relative;

  width: 100%;
  min-height: 40.2vh;
}
.two-exp {
  background-color: var(--color-grey);
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--color-text);
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: 12;
}

img.imges-port {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
}
.portfolio-two .title-port {
  position: absolute;
  top: 8%;
  left: 0;
}
.portfolio-two .title-port p {
  color: var(--color-green);
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 500;
}
.portfolio-two .skills-work {
  position: absolute;
  bottom: 17%;
  left: 0;
}
.portfolio-two .icons {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 2%;
  left: 0;
}
.group {
  background-image: linear-gradient(
    to right top,

    var(--color-green),
    var(--color-red)
  );

  display: inline-block;
  border: 1px solid var(--color-white);
  padding: 2rem 3.2rem;
  border-radius: 1rem;
  color: white;
  margin: 0.5rem;
  transition: all 0.3 ease-out;
  box-shadow: 0 30px 40px 0 rgba(255, 1, 225, 0.15);
}
.group:hover {
  background-image: linear-gradient(
    to right top,
    var(--color-white),
    var(--color-green),
    var(--color-red)
  );
}
.skill-img-container {
  display: flex;
  margin-top: 3rem;

  align-items: center;
  justify-content: center;
}

/* .html {
  background: linear-gradient(to right, var(--color-white), orangered) 80%;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.034);
  color: transparent;
  -webkit-background-clip: text;
} */
.skill-column-2 {
  display: flex;
  flex-direction: column;
}

.cont-division {
  display: flex;
  width: 100%;
  /* background-color: #716b6b; */
  background-image: linear-gradient(to right top, #000, var(--color-green));
  padding-left: 2rem;
  z-index: 8;
  border-radius: 3px;
  letter-spacing: 0;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.cont-left {
  width: 45%;
  /* background-color: #404040; */
  box-shadow: 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.253);
  z-index: 12;
  overflow: hidden;
  border-radius: 8px;
  /* color: var(--color-white); */
  padding: 3rem;
}
.cont-left h3,
.right-side h3 {
  font-size: 2.4rem;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 3rem;
}
.right-side {
  color: #ddd;

  padding: 3rem 0rem 3rem 3rem;
}
.cont-left p,
.right-side p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: var(--color-white);
}
.cont-right {
  width: 55%;
  background-color: rgb(41, 41, 41);
  padding: 2rem;
}
.mess {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  /* justify-content: center; */
}
.mess h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-white);
}
.mess p {
  font-size: 1.6rem;
  color: var(--color-white);
}
.mess a,
.right-side a {
  color: var(--color-white);
  text-decoration: none;
}
.right-side p {
  font-size: 1.5rem;
  display: inline;
}
.footer {
  background-color: rgba(0, 0, 0, 0.737);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-white);
  font-size: 1.6rem;
}
.modal {
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.277);
  background-size: cover;
}
.show {
  display: block;
}
.form-box {
  position: relative;
  /* background-color: #000000; */
  width: 40rem;
  background-color: #ffffff1b;
  border: 2px solid rgba(255, 255, 255, 0.408);
  display: flex;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}
.form-box h2 {
  font-size: 3.2rem;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 31rem;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  transform: translateY(-50%);
  font-size: 1.6rem;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 0 3.5rem 0 0.5rem;
  color: #fff;
}
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.9rem;
  top: 2rem;
}
.forget {
  margin: -15px 0 15px;
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  justify-content: center;
}
.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: #fff;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
.lg {
  width: 100%;
}
.register {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}
.close-icon {
  width: 100%;
  display: block;
  text-align: right;
}
.close-login-btn {
  font-size: 4rem;
  /* text-align: right; */
  /* justify-content: flex-e; */
}
.form__group:not(:last-child) {
  margin-bottom: 0rem;
}
#signUp .form__input {
  color: #000;
}
.form__input {
  padding: 1rem 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.449);
  display: block;
  width: 100%;
  font-size: 1.5rem;

  /* color: inherit; */
  font-family: inherit;

  transition: all 0.2s;
  border-bottom: 3px solid transparent;
}
.form__input:focus {
  outline: none;
  box-shadow: 0rem 1rem 2rem rgba(#000000, 0.2);
  border-bottom: 3px solid var(--color-green);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-red);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-white);
}
.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: 700;
  display: block;
  margin-top: 0.7rem;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.fnln {
  display: flex;
  gap: 0;
  width: 100%;
}
.textarea {
  width: 100%;
}
.form__group.success input {
  border-color: #09c372;
}
.form__group.error input {
  border-color: rgb(183, 11, 11);
}
.form__group .error {
  color: rgb(229, 8, 8);
  font-size: 14px;

  /* min-height: 13px; */
}
.form__group input:focus {
  outline: 0;
}
